/* reset */ 
* {
    box-sizing: border-box;
}

nav ul, nav ol {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}
/* end reset */
body {
    font-family: Montserrat;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
